.btn-bdr-ctr {
  position: relative;
  height: 192px;
  width: 612px;
  margin-top: 30%;
}

.btn-bdr {
  position: absolute;
  text-transform: uppercase;
  color: var(--txt-color-1);
  height: 150px;
  width: 570px;
  letter-spacing: 1px;
  border: none;
  font-weight: bold;
  font-size: 50px;
  font-family: var(--font-1), var(--font-1-opc);
  z-index: -1;
}

/* if you use the class "btn-color-1" on "index.html", you should change the color here to "btn-color-2" in background-color */
.btn-bdr::before,
.btn-bdr::after {
  top: -15px;
  content: "";
  background-color: var(--btn-color-1);
  width: 600px;
  height: 180px;
  position: absolute;
  transition: all 0.5s ease;
}

.btn-bdr::after {
  left: -15px;
  clip-path: polygon(
    50% 0,
    100% 0,
    100% 7%,
    100% 60%,
    100% 66%,
    81% 100%,
    80% 100%,
    66% 100%,
    50% 100%,
    50% 98%,
    80% 98%,
    99% 65%,
    99% 60%,
    99% 8%,
    99% 2%,
    50% 2%
  );
}
.btn-bdr::before {
  left: -14.7px;
  clip-path: polygon(
    50% 100%,
    50% 98%,
    1% 98%,
    1% 90%,
    1% 40%,
    1% 36%,
    21% 2%,
    50% 2%,
    50% 0,
    34% 0,
    22% 0,
    20% 0,
    0 35%,
    0 40%,
    0 90%,
    0 100%
  );
}

.btn-bdr-ctr:hover > .btn-bdr::after {
  clip-path: polygon(
    50% 0,
    100% 0,
    100% 7%,
    100% 60%,
    100% 65%,
    100% 100%,
    80% 100%,
    66% 100%,
    50% 100%,
    50% 98%,
    99% 98%,
    99% 65%,
    99% 60%,
    99% 8%,
    99% 2%,
    50% 2%
  );
}
.btn-bdr-ctr:hover > .btn-bdr::before {
  clip-path: polygon(
    50% 100%,
    50% 98%,
    1% 98%,
    1% 90%,
    1% 40%,
    1% 35%,
    1% 2%,
    50% 2%,
    50% 0,
    34% 0,
    22% 0,
    0 0,
    0 35%,
    0 40%,
    0 90%,
    0 100%
  );
}
